*{
    font-family: Lucida Sans Unicode;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("homecover.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 25px 20px 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(193, 154, 107),rgba(193, 154, 107, 0.452),rgba(255, 255, 255, 0));
}
header #logo{
    display: inline-block;
    left: 10px;
    top: -10px;
    position: absolute;
    width: 100px;
    height: 100px;
    padding-bottom: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 30px;
}
header ul li a{
    padding: 5px 15px;
    color: white;
    border: 1px solid white;
}
header ul li a:hover,
header ul li a#home
{
    padding: 5px 15px;
    color: #C19A6B;
    background-color: white;
    transition: 0.3s;
}
header h1{
    font-family: Gigi;
    color: #502c11;
}
.photos{
    margin-top: 10px;
    overflow-y: auto;
    height: 460px;
    justify-content: center;
    width: 45%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}
.below{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 200px;
}
.homevid{
    margin: 10px;
    object-fit: contain;
    height: 460px;
}
.photos div img{
    width: 250px;
    height: 240px;
}
